body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.Main{
    width: 100%;
    height: auto;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}
.NavText{
    
    display: flex;
    justify-content: space-around;
    gap: 150px;
}
@media screen and (max-width:767px){
    .NavText {
        display: flex;
        justify-content: space-around;
        gap: 27px;
        flex-wrap: wrap;
    }
    .Logo{
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .Logo h2{
        font-size: 15px;
    }
}